<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ClientsDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=ClientsDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MyTorrentServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58199/MyTorrentService.asmx" binding="basicHttpBinding" bindingConfiguration="MyTorrentServiceSoap" contract="TorrentRef.MyTorrentServiceSoap" name="MyTorrentServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>